<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.z.mapper.CategoryMapper">

    <resultMap id="category_detail" type="com.z.vo.CategoryVO">
        <id property="id" column="lv1"/>
        <result property="name" column="cname"/>
        <collection property="list" ofType="com.z.model.CtgDetail">
            <id property="id" column="lv2"/>
            <result property="name" column="name"/>
        </collection>
    </resultMap>

    <select id="selectLv2List" resultMap="category_detail" parameterType="map">
        select
        category.id as lv1,
        category.name as cname,
        ctg_detail.id as lv2,
        ctg_detail.name as name
        from
        ctg_detail left join category on category.id = ctg_detail.cid
        <where>
            <choose>
                <when test="lv1id!=null">
                    and ctg_detail.cid=#{lv1id}
                </when>
                <when test="lv2id!=null">
                    and ctg_detail.id=#{lv2id}
                </when>
            </choose>
        </where>
    </select>
</mapper>
