<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>主页</title>
    <link rel="stylesheet" href="/static/bootstrap-3.4.1-dist/css/bootstrap.min.css">
    <script src="/static/js/jquery-3.6.0.js"></script>
    <script src="/static/bootstrap-3.4.1-dist/js/bootstrap.js"></script>
    <script src="/static/js/vue3.js"></script>
    <script src="/static/js/axios.js"></script>
</head>
<body>
<div class="container">
    <div class="row" style="margin: 11%">
        <div class="col-md-6 col-md-offset-3">
            <!--action="javascript:void(0)"-->
            <form >
                <div class="form-group">
                    <label for="phone">手机号</label>
                    <input type="text" class="form-control" id="phone" placeholder="请输入您的手机号"/>
                </div>
                <div class="form-group">
                    <label for="password">登录密码</label>
                    <input type="password" class="form-control" id="password" placeholder="请输入您的密码"/>
                </div>
                <div class="form-group row">
                    <div class="col-md-8">
                        <label for="validate-code">验证码</label>
                        <input type="text" id="validate-code" class="form-control" placeholder="请输入验证码"/>
                    </div>
                    <div class="col-md-4">
                        <label for="img"></label>
                        <input type="image" id="img" :src="/app/verify" class="form-control" title="换一张"
                               style="width: auto; height: auto" alt="" onclick="getImg()">
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-3 col-md-offset-3">
                        <button type="submit" onclick="signIn()"
                                class="btn btn-default">&nbsp;&nbsp;&nbsp;&nbsp;登录&nbsp;&nbsp;&nbsp;&nbsp;
                        </button>
                    </div>
                    <div class="col-md-3">
                        <button type="reset" class="btn btn-default">重置输入框</button>
                    </div>
                    <br/>
                    <br/>
                    <div align="center">
                        <a href="#" onclick="toReg()">>>没有账号，去注册>></a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<img src="">
<script type="text/javascript">
    function getImg() {
        $.get('/app/verify')
    }
    function signIn()  {

    }
</script>
</body>
</html>