<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zfx.bsshop.mapper.UserMapper">

    <select id="selectOne" resultType="com.zfx.bsshop.model.User" parameterType="com.zfx.bsshop.dto.SignIn">
        select * from user
        <where>
            <choose>
                <when test="email != null">
                    and email=#{email}
                </when>
                <when test="phone != null">
                    and phone=#{phone}
                </when>
            </choose>
        </where>
        and password=#{password}
        and user_status=1
        and is_delete=0
    </select>
    <select id="selectByAccount" resultType="com.zfx.bsshop.model.User" parameterType="com.zfx.bsshop.model.User">
        select * from user
        <where>
            <if test="uname != null">
                and uname=#{uname}
            </if>
            <if test="phone != null">
                and phone=#{phone}
            </if>
            <if test="email != null">
                and email=#{email}
            </if>
        </where>
        and user_status=1
        and is_delete=0
    </select>
</mapper>
